*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db

*.css
*.css.map
.sass-cache/
node_modules/